* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 4rem;
}

.quiz-image {
  width: 45rem;
  height: auto;
}

.start-button {
  padding: 10px 40px;
  font-size: 2rem;
  background-color: rgb(97, 153, 218);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.2s ease;
  box-shadow: 0px 5px 15px rgba(123, 211, 252, 0.9);
}

.start-button:hover {
  background-color: rgb(7, 105, 196);
  box-shadow: 0px 8px 20px rgba(126, 203, 247, 0.9);
  transform: translateY(-3px);
}
